div { width: 100%; heigth: 100%; margin-left: auto; margin-right: auto; padding: 5px; text-align: center; background-color:#c9daf5;}
h1 { height:100vh; border-left: 10px #c9daf5;}
div div{ position:fixed; bottom:0; margin-bottom:50px;}
