div { width: 100%; heigth: 100%; margin-left: auto; margin-right: auto; padding: 5px; text-align: center;}
h1 {border-left: 10px #848587; font-size:40px;}
div div{ position:fixed; bottom:0;}
input {width:50%; font-size: 30px;}
#assistant {margin-bottom:100px;}
.history {position:fixed; left:0; width:20%; height:100%; background-color:#000000; border-right:5px; color:white; font-size: 40px;}
select {font-size:20px;}
lable {font-size:40px;}
#history {color:white; font-size:20px; width:90%; margin:10px; background-color:#31f57f; height: 5%;}

.Answer {
  width: 60%;
  height: 50%;
  border: 1px solid black; 
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom:18%;
  margin-left:28%;
  font-size: 15px;
  }

